{% extends '_base.html' %}
{% load crispy_forms_tags %}

<html lang="en">

<head>
    <title>{% block title %}Edit Book{% endblock title %}</title>
</head>

<body>
    {% block content %}
        <div>
            <h1>Edit Book</h1>
            <form class="form-inline mt-2 mt-md-0" action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success" type="submit" value="Update">
                <a class="btn btn-primary" href="{{request.META.HTTP_REFERER|escape}}">Back</a>
            </form>
        <div>
    {% endblock content %}
<body>

</html>