{% extends "_base.html" %}

<html>

<head>
    <title>{% block title %}Books{% endblock title %}</title>
</head>

<body>
    {% block content %}
        <a href="{% url 'home' %}">Home</a>
        {% for book in book_list %}
                <p><h2><a href="{% url 'book_detail' book.pk %}">Title: {{ book.title }}</a></h2></p>
                &emsp;<a>Subtitle: {{ book.subtitle }}</a></br>
                &emsp;<a>Authors: {{ book.authors }}</a></br>
                &emsp;<a>Publisher: {{ book.publisher }}</a></br></br>
        {% endfor %}
    {% endblock content %}
</body>

</html>