{% extends "_base.html" %}


<html lang="en">

<head>
    <title>{% block title %}Books{% endblock title %}</title>
</head>

<body>
    {% block content %}
        {% for book in book_list %}
                <p><h2><a class="btn btn-primary" href="{% url 'book_detail' book.pk %}">Title: {{ book.title }}</a></h2></p>
                &emsp;<a>Subtitle: {{ book.subtitle }}</a></br>
                &emsp;<a>Authors: {{ book.authors }}</a></br>
                &emsp;<a>Publisher: {{ book.distrubution_expense }}</a></br></br>
        {% endfor %}
    {% endblock content %}
</body>

</html>