{% extends "_base.html" %}

<head>
    {% block title %}Publisher based chart{% endblock title %}
</head>

<body>
    {% block scripts %}
        <script>
        // jquery function
        $(document).ready(function(){
            var ctx = document.getElementById('myChart_1').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for data in key_list %} '{{data}}', {% endfor %}],
                    datasets: [{
                        label: 'number of books',
                        data: [{% for data in value_list %}{{data}},{% endfor %}],
                        borderWidth: 1
                    }]
                },
            });
        });
        </script>
        <script>
            // jquery function
            $(document).ready(function(){
                var ctx = document.getElementById('myChart_2').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for data in key_list %} '{{data}}', {% endfor %}],
                        datasets: [{
                            label: 'number of books',
                            data: [{% for data in value_list %}{{data}},{% endfor %}],
                            borderWidth: 1
                        }]
                    },
                });
            });
            </script>
    {% endblock scripts %}

    {% block content %}
        <!-- displaying the chart -->
        <!-- you can also play around with the width and height to increase or decrease the chart size -->
        <div>
            <a class="btn btn-primary" href="{{request.META.HTTP_REFERER|escape}}">Back</a></br>
            <h2>Doughnut chart</h2></br>
            <canvas id="myChart_1" width="400" height="100"></canvas>
            
        </div></br>  
        <div>
            <h2>Bar chart</h2></br>
            <canvas id="myChart_2" width="400" height="100"></canvas>
            
        </div> 
    {% endblock content %}
    {% comment %} {% block content %}
        {{ len_of_lists }}
    {% endblock content %} {% endcomment %}
</body>