{% extends '_base.html' %}

<html>

<head lang="en">
    <title>{% block title %}Get reports{% endblock title %}</title>
</head>

<body>
    {% block content %}
        <div>
            <p><h2>Reports</h2></p>
            <p>
                &emsp;<a class="btn btn-primary" href="{% url 'chart_category' %}">Based on categories</a></br></br>
                &emsp;<a class="btn btn-primary" href="{% url 'chart_publisher' %}">Based on publications</a></br></br>
            </p>
        </div>
    {% endblock content %}
</body>

</html>