{% extends '_base.html' %}

<html>

<head lang="en">
    <title>{% block title %}Home{% endblock title %}</title>
</head>

<body>
    {% block content %}
        <div>
            <p><h2>Admin dashboard</h2></p>
            <p>
                &emsp;<a class="btn btn-primary" href="{% url 'book_create' %}">Add new book</a></br></br>
                &emsp;<a class="btn btn-primary" href="{% url 'book_list' %}">List of books</a></br></br>
                &emsp;<a class="btn btn-primary" href="{% url 'book_search' %}">Distribution expense calculation</a></br></br>
            </p>
        </div>
    {% endblock content %}
</body>

</html>