{% extends '_base.html' %}

<html>

<head>
    <title>{% block title %}Home{% endblock title %}</title>
</head>

<body>
    {% block content %}
        <div>
            <p><h2>Admin dashboard</h2></p>
            <p>
                &emsp;<a>add book information</a></br></br>
                &emsp;<a>list of books</a></br></br>
                &emsp;<a>Update or Delete books</a></br></br>
                &emsp;<a>Distribution expense calculation</a></br></br>
            </p>
        </div>
    {% endblock content %}
</body>

</html>